<app-header></app-header>
<app-navbar></app-navbar>
<h3>free notes as per field section</h3>
<br>
<br>
<div>
  <form [formGroup]="getField" (ngSubmit)="searchSubject()">
    <label for="selectOption">Select a field:</label>
    <select id="selectOption" formControlName="id">
      <option *ngFor="let field of fields" [value]="field?._id">{{ field.name }}</option>
    </select>
    <button type="submit">Submit</button>
  </form>
  <br>
  <br>
  <div *ngFor="let subject of getSubject">
    <h3>Subjects</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>tags</th>
      </thead>
      <tbody>
        <tr (click)="loadDocuments(subject._id)" style="cursor: pointer;">
          <td>{{ subject.name }}</td>
          <td>{{ subject.desc }}</td>
          <td>{{ subject.tags.join(', ') }}</td>
        </tr>
      </tbody>
    </table>
  </div>
<br>
<br>
  <div *ngFor="let document of documents">
    <h3>Documents</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
        <th>Added By</th>
        <th>Likes</th>
        <th>Rating</th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ document.name }}</td>
          <td>{{ document.desc }}</td>
          <td><a href="{{ document.file_url }}" target="_blank">click here</a></td>
          <td> {{document.addedBy.email}} </td>
          <td>{{documents.like}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>